<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TaskMaster</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <div id="main">
        <div id="header">
          <h1>Task Master</h1>
        </div>
        <div id="center">
          <div id="head">
            <a href="/" class="back">Back</a>
            Admin Panel
          </div>
          <div id="table">
            <div id="he">
              <h1>Export Table Data</h1>
              <h1><a href="/exportdata" download>Export</a></h1>
            </div>
            <div id="usertable">
              <h1 style="margin-top: 10px; margin-bottom: 10px; width: 100%; text-align: center;">Users Table</h1>
            <div class="col">
              <h3>User's Id</h3>
              <h3>Name</h3>
              <h3>Email</h3>
              <h3>Number</h3>
              <h3>Total Task</h3>
            </div>
            <%users.forEach(function (user) { %>
            <div class="rows">
              <h3><%= user._id %></h3>
              <h3><%= user.name %></h3>
              <h3><%= user.email %></h3>
              <h3><%= user.number %></h3>
              <h3><%= user.tasks.length %></h3>
            </div>
            <% })%>
            </div>
            <div id="Tasktable">
              <h1 style="margin-top: 30px; margin-bottom: 10px; width: 100%; text-align: center;">Tasks Table</h1>
            <div class="col2">
              <h3>Task's Id</h3>
              <h3>Task Name</h3>
              <h3>Alloted To</h3>
              <h3>Task status</h3>
            </div>
            <% alltasks.reverse().forEach(function (task) { %> 
              <div class="rows2">
               <h3><%= task._id %></h3>
               <h3><%= task.name %></h3>
               <h3><%= task.userid.name %></h3>
               <h3><%= task.status %></h3>
             </div>
             <% }) %>
            </div>
          </div>
        </div>
      </div>
</body>
</html>